[submodule "zraw-decoder-lib"]
	path = zraw-decoder-lib
	url = https://github.com/storyboardcreativity/zraw-decoder-lib.git
[submodule "quick_arg_parser"]
	path = quick_arg_parser
	url = https://github.com/Dugy/quick_arg_parser.git
[submodule "tinydngloader"]
	path = tinydngloader
	url = https://github.com/syoyo/tinydngloader.git
